<mat-toolbar color="primary">
    <mat-toolbar class ="header" color="primary">
    <span><a routerLink="/">LOGO</a></span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button (click)="onLogout()">Logout</button>
            {{user}}
        </li>
       <li>
            <a
              *ngIf="userIsAuthenticated && !expectedRole "
              routerLink="/create"
              routerLinkActive="active"
              >Admin</a>
          </li> 
    </ul>
    
</mat-toolbar>
</mat-toolbar>