main {
    margin-top: 1rem;
    width: 80%;
    margin: auto;
}

.header{
    margin: auto;
    width:80%;
}
a{
    color:#ffffff;
    text-decoration: none;
}

ul{
    list-style: none;
    padding:15px;
    margin:0px;
   
}
ul{
    display: flex;
}

.spacer{
    flex:1 1 auto;
}